# Android Studio / IntelliJ
.idea/
*.iml

# Gradle
.gradle/
build/

# Local configuration
local.properties

# Android build outputs
app/build/
app/.cxx/

# OS noise
.DS_Store
Thumbs.db

# Logs
*.log
app/src/main/res/values-night/
app/src/main/res/values/themes.xml
$null
